{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <script>
        function setCity(city) {
            document.getElementById('id_city').value = city;
        }
    </script>
    <div class="container">

        <div class="row mt-5 d-flex align-items-center">
            <h3>Прогноз погоды</h3>
            <div class="col-6">
                <form id="form" method="post" action="{% url "weather_app:weather" %}">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-outline-primary mt-2" type="submit">Показать</button>
                </form>

                <ul class="list-group d-flex flex-row align-items-center">
                Вы искали:
                    {% for city in cached_cities %}
                        <li class="list-group-item border-0"><a href="javascript:void(0);" onclick="setCity('{{ city }}')">{{ city }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.col-6 -->
            <div class="col-6">
                <div class="weather-info ">
                    <ul class="d-flex flex-row list-group flex-wrap justify-content-center">

                        {% for weather in weather_info %}
                            <li class="list-group-item border-0 shadow p-5 rounded">
                                <h5>{{ city }}</h5>
                                <span>{{ weather.time|date:"H:i" }}</span>
                                <p>Температура {{ weather.temperature }} {{ weather.degree }}
                                    <br><small class="text-warning">Ощущается как: {{ weather.apparent_temperature }} {{ weather.degree }}</small>
                                </p>
                                <p>Скорость ветра: {{ weather.wind_speed }} {{ weather.wind_speed_unit }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.col-6 -->
        </div>
        <!-- /.row -->

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const cityInput = document.querySelector("#id_city");
            const dataList = document.createElement('datalist');
            dataList.id = 'city-list';
            cityInput.setAttribute('list', 'city-list');
            document.body.appendChild(dataList);
        
            cityInput.addEventListener("input", function () {
                const query = cityInput.value;
                if (query.length > 3) {
                    fetch(`/get-city/?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            dataList.innerHTML = '';
                            data.forEach(city => {
                                const option = document.createElement('option');
                                option.value = city;
                                dataList.appendChild(option);
                            });
                        });
                }
            });
        });

    </script>
{% endblock %}
